.right {
    margin-left: auto !important;
}

.image {
    width: 4rem;
    border-radius: 5%;
    background-color: #fff;
    margin: 0 1rem 0 0;
    display: flex;
    align-items: center;
    padding: 0;
}

.login {
    text-decoration: none;
    font-family: 'Noto Sans JP';
    font-weight: 700;
}

.white {
    color: #fff !important;
}

.image img {
    width: 100%;
    padding: 0;
    margin: 0 auto !important;
}

.unlink {
    text-decoration: none;
    color:#fff !important;
}
